.country{
    border: 2px solid gray;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(169, 238, 255);
}
.visited{
    background-color: bisque;
    color: black;
}